# Virtual Environment
venv/
.venv/
env/
ENV/

# Firebase credentials
neuropyhomehub-firebase-adminsdk-fbsvc-45769b4c9f.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env